
.navbar{
    display: flex;
    flex-direction: row;
}

.ul li{
    display:flex;
    flex-direction: row;
}






   body {
    color: white;
    padding: 0px;
    margin: 2px 2px;
    background: url('bg.jpg.jpeg');
    width: 100vw;

}

.left div {
    text-align: center;
}

.left img {
    filter: invert(100%);
    display: block;
    width: 50px;
    position: absolute;
    left: 2px;
    top: -8px;
    padding-top: 11px;
}

.left img:hover {
    filter: invert(80%);
}

.left {
    font-size: 3px;
    display: inline block;
    width: 127px;
    position: absolute;
    left: 20px;
    top: 12px;
    padding: 24 5px;
    line-height: 69px;
    margin: -10px;
    margin-left: 5px;
}

.left h1 {
    font-size: 16px;
    padding-left: 1px;
    padding-top: 15px;
    margin-left: -67px;
}

.left h1:hover {
    color: rgb(211, 197, 197);
}

.mid {
    display: block;
    width: 440px;
    margin: 12px auto;
    padding: 0px 30px;
    margin-top: 1px;

}

.mid li:hover {
    cursor: pointer;
    color: rgb(162, 155, 155);
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.right {
    /* border: 2px solid rgb(24, 233, 72); */
    display: inline block;
    width: 200px;
    position: absolute;
    right: 40px;
    top: 12px;
    padding: 1px 50px;
    padding-right: 7px;
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2px -56px;
}

.right button:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(145, 149, 152);
    cursor: pointer;
}

.btn {
    border: 1px solid white;
    color: white;
    font-size: 16px;
    font: bold;
    background-color: black;
    margin: 2px;
    border-radius: 9px;
    padding: 4px 10px;
    margin: 1px 6px;
}


.data ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 2px 20px;
    align-items: center;
    font-size: 19px;


}

.data li {
    list-style: none;
    padding: 0px 40px;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid rgb(139, 139, 131);
    width: 328px;
    height: 57vh;
    margin: 42px 128px;
    margin-top: 83px;
    border-radius: 10px;
    padding: 0px 61px;

}


.container div {
    size: 47px;
    padding: 5px 0px;
    margin: -7px -7px;
    border: 1px solid black;
    border-radius: 9px;
    font-size: 16px;
}

.form-group input {
    /* padding: 20px 40px; */
    /* padding: 20px 40px; */
    font-size: 15px;
    padding: 6px 46px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 33px;
}

.form-group input:hover {
    color: red;
    background-color: rgb(235, 229, 229);
    font-size: 16px;
    padding: 7px 46px;

    cursor: pointer;
}

#da {
    size: 47px;
    padding: 5px 25px;
    margin: 9px auto;
    border: 1px solid rgb(34, 33, 33);
    border-radius: 9px;
    background-color: rgba(197, 202, 206, 0.953);
    font-size: 16px;
    display: flex;
    
  
    

}

#da:hover {
    background-color: rgb(158, 158, 155);
    cursor: pointer;
    font-size: 18px;
    border-radius: 2px solid white;
}

#mama {
    filter: invert(100%)
}

.container h1 {
    font-size: 44px;
    padding: -40px 3px;
    display: flex;
    align-items: center;
    justify-content: center;

}
  

 /* By Nikhil, Shreeyash, Divesh, Anuj & Datta. */