@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {
    background-color: rgb(245, 188, 223);
    background-image: url('bg33.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
    z-index: 10;
}


#ho1 {
    display: none;
}

#ho li a {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    color: #fff;
    list-style: none;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    padding: 0 1.2rem
}

#ho:hover {
    font-size: 23px;
    font-weight: bolder;
    cursor: pointer;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    border: 2px solid rgb(139, 139, 131);
    width: 700px;
    height: 70vh;
    margin: auto auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 0px 61px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container div {
    size: 47px;
    padding: 5px 0px;
    margin: -7px -7px;
    border-radius: 9px;
    font-size: 16px;
}

.form-group input {
    font-size: 17px;
    padding: 10px 83px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 33px;
    margin: 5px 0px;
}


.form-group input:hover {
    color: red;
    background-color: rgb(235, 229, 229);
    padding: 11px 84px;
    cursor: pointer;
    box-shadow: 1px 1px rgb(222, 220, 220);
}

#da {
    size: 47px;
    padding: 7px 32px;
    margin: 9px auto;
    border: 1px solid rgb(34, 33, 33);
    border-radius: 9px;
    background-color: rgba(197, 202, 206, 0.953);
    font-size: 19px;
    display: flex;
}

#da:hover {
    background-color: rgb(158, 158, 155);
    cursor: pointer;
    font-size: 18px;
    border-radius: 2px solid #fff;
    border: 1px solid #fff;
}

.container h1 {
    color: #fff;
    font-size: 51px;
    padding: -40px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

#foot {
    height: 6.2vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

#foot h2 {
    color: white;
    font-size: 15px;
    margin-left: 54px;
    padding-top: 2px;
    text-align: center;
}

#foot h2 a {
    color: white;
    margin-right: -532px;
    cursor: pointer;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: 1px solid white;
    outline: none;
    color: white;
    padding: 5px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    font-size: 20px;
    margin-top: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-style: bold;
    background-color: rgb(39, 37, 37);
    border-radius: 8px;
    cursor: pointer;
}

.dropdown .dropbtn:hover {
    padding: 6px 13px;
    border: 1px solid #fff;
    background-color: rgb(134, 128, 128);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(227, 229, 238);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-top: 58px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 23px;
    border: 1px solid gray;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media (max-width:1440px) {
    .menu {
        display: none;
    }

    .songItem {
        width: 32vw;
        height: 12vh;
    }

    .songList h1 {
        font-size: 2rem;
    }

    #ho {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    html {
        font-size: 100%;
    }


    .menu,
    .cross {
        display: none;
    }

    .dropdown {
        /* display: none;/ */
        margin-top: -0.6rem;
    }

    .dropdown .dropbtn {
        font-size: 0.7rem;
    }

    .container h1 {
        font-size: 80%;
    }

    #ho1 {
        display: none;
    }

    nav ul {
        background-color: rgb(255, 156, 173);
        height: 6vh;
        width: 100vw;
        align-items: center;
        margin-right: -1rem;
    }

    #ho a {
        display: flex;
        flex-direction: row;
    }


    .menu {
        right: 1rem;
        top: 0.7rem;
    }

    .menu i {
        font-size: 1.2rem;
        /* Adjust the size as needed */
        color: white;
        /* Icon color */
    }

    .brand {
        /* font-size: 100%; */
        /* margin-left: 2rem; */
    }

    .brand img {
        width: 1.6rem;
        height: 7.6rem;
    }

    body img {
        opacity: 0.3;
    }

    .bottom {

        height: 16vh;

    }

    #foot {
        position: absolute;
        bottom: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-spacing: 0.2rem;
        letter-spacing: 0.1rem;
    }

    .icons {
        margin-top: 14px;
        margin-bottom: -31px;
    }

    .icons i {
        cursor: pointer;
        font-size: 2rem;
    }

    #myProgressBar {
        width: 70vw;
        cursor: pointer;
        margin-top: -33px;
        height: 0.3rem;
    }

    #masterplay {
        size: 2rem;
    }


    .songInfo {
        left: 16vw;
        font-size: 1rem;
        margin-bottom: -21px;
    }

    .songInfo img {
        height: 1.4rem;
        margin-right: 0.7rem;
    }

    .songInfo img {
        opacity: 0;
        transition: opacity 0.4s ease-in;
    }

    .songItem {
        height: 2rem;
    }

    .songItem img {
        width: 1.6rem;
        margin: 0 5px;
        border-radius: 34px;
    }

    .container {
        height: 72vh;
    }

    .container form input {
        font-size: 90%;
    }

    .container h1 {
        font-size: 270%;
    }

    .container #da {
        font-size: 95%;
    }
}

@media (max-width:1240px) {
    .menu {
        display: none;
    }



    #ho {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    html {
        font-size: 80%;
    }


    .menu,
    .cross {
        display: none;
    }

    .dropdown {

        margin-top: -0.9rem;
    }

    .dropdown .dropbtn {
        font-size: 0.6rem;
    }

    .container h1 {
        font-size: 80%;
    }

    #ho1 {
        display: none;
    }

    nav ul {
        background-color: rgb(255, 156, 173);
        height: 6vh;
        width: 100vw;
        align-items: center;
        margin-right: -1rem;
    }

    #ho a {
        display: flex;
        flex-direction: row;
    }





    #foot {
        position: absolute;
        bottom: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-spacing: 0.2rem;
        letter-spacing: 0.1rem;
    }






    .container {
        height: 72vh;
    }

    .container form input {
        font-size: 70%;
        padding: 0.7rem 8rem;
    }

    .container h1 {
        font-size: 250%;
    }

    .container #da {
        font-size: 85%;
    }
}


@media (max-width:770px) {
    .menu {
        display: none;
    }



    /* #ho {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    } */

    html {
        font-size: 80%;
    }


    .menu,
    .cross {
        display: none;
    }

    .dropdown {

        margin-top: -0.9rem;
    }

    .dropdown .dropbtn {
        font-size: 0.5rem;
    }

    .container h1 {
        font-size: 80%;
    }

    #ho1 {
        display: none;
    }

    nav ul {
        background-color: rgb(255, 156, 173);
        height: 6vh;
        width: 100vw;
        align-items: center;
        margin-right: -1rem;
    }

    #ho a {
        display: flex;
        flex-direction: row;
    }





    #foot {
        position: absolute;
        bottom: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-spacing: 0.2rem;
        letter-spacing: 0.1rem;
    }


    #foot h2 {
        margin: 0 auto;
        font-size: 1rem;
    }



    .container {
        height: 72vh;
        width: 70vw;
    }

    .container form input {
        font-size: 70%;
        padding: 0.5rem 8rem;
    }

    .container h1 {
        font-size: 240%;
    }

    .container #da {
        font-size: 85%;
    }
}

@media (max-width:426px) {

    html {
        font-size: 30%;
    }


    .dropdown {
        display: none;
        margin-top: -0.9rem;
    }

    .dropdown .dropbtn {
        font-size: 0.7rem;
    }

    .container h1 {
        font-size: 260%;
    }

    .container {
        border: none;
        width: 69%;
    }

    #ho {
        display: none;
    }

    #ho1 {
        /* display: flex; */
        display: none;
        width: 100vw;
        margin-top: 13rem;
        background-color: rgb(255, 156, 173);
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 23vh;
        margin-left: -7.5rem;
        z-index: 1;
    }

    #ho1 li a {
        display: flex;
        font-size: 1.3rem;
        color: #fff;
        list-style: none;
        text-decoration: none;
        /* flex-direction: row; */
        justify-content: center;
        padding: 0.4rem 1.2rem
    }

    nav ul {
        background-color: rgb(255, 156, 173);
        height: 6vh;
        width: 100vw;
        align-items: center;
        /* margin-left: 1rem; */
    }


    .menu {
        position: absolute;
        right: 1rem;
        top: 0.9rem;
        display: block;
    }

    .menu i {
        font-size: 3.4rem;
        /* Adjust the size as needed */
        color: white;
        /* margin-right: -1rem; */
        /* Icon color */
    }

    #foot {
        position: absolute;
        bottom: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-spacing: 0.2rem;
        letter-spacing: 0.1rem;
        margin-right: -6rem;
        width: 100vw;
    }

    #foot h2 {
        font-size: 120%;
        margin: 0 auto;

    }

    html {
        font-size: 70%;
    }


    .dropdown {
        /* display: none;/ */
        margin-top: -0.9rem;
    }

    .dropdown .dropbtn {
        font-size: 0.7rem;
    }

    /* .container h1 {
        font-size: 60%;
        margin:0 -1rem;
    } */



    #foot {
        position: absolute;
        bottom: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-spacing: 0.2rem;
        letter-spacing: 0.1rem;
    }

    #foot h2 {
        font-size: 90%;

    }
}

@media (max-width:320px) {


    #ho {
        display: none;
    }

    #ho1 {
        display: none;
        width: 100vw;
        margin-top: 16rem;
        background-color: rgb(255, 156, 173);
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 25vh;
        margin-left: -7.9rem;
        z-index: 1;
    }

    #ho1 li a {
        display: flex;
        font-size: 1.9rem;
        color: #fff;
        list-style: none;
        text-decoration: none;
        /* flex-direction: row; */
        justify-content: center;
        padding: 0.4rem 1.2rem
    }

    html {
        font-size: 60%;
    }


    .menu {
        display: block;
    }

    .menu i {
        font-size: 2rem;
        margin-top: 0.6rem;
    }



    .dropdown {
        display: none;
        margin-top: -0.9rem;
    }

    .dropdown .dropbtn {
        font-size: 0.6rem;
    }

    .container h1 {
        font-size: 70%;
    }

    nav ul {
        background-color: rgb(255, 156, 173);
        height: 6vh;
        width: 100vw;
        align-items: center;
        margin-right: -1rem;
    }


    #foot {
        position: absolute;
        bottom: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-spacing: 0.2rem;
        letter-spacing: 0.1rem;
    }






    .container {
        height: 72vh;
        /* width: 80vw; */
    }

    .container form input {
        font-size: 70%;
        padding: 0.7rem 8rem;
    }

    .container h1 {
        font-size: 240%;
    }

    .container #da {
        font-size: 85%;
    }


}

/* By Datta kale */