@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: rgb(245, 188, 223);
    background-image: url('b2.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

.navbar.active {
    display: block;
    transition: 0.11s ease;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

/* nav ul li {
    padding: 0 12px;
    z-index: 10;
} */

#ho {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ho1 {
    display: none;
}

#ho li a {
    display: flex;
    font-size: 1.3rem;
    color: #fff;
    list-style: none;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    padding: 0 1.2rem
}

#ho:hover {
    font-size: 23px;
    font-weight: bolder;
    cursor: pointer;
}

.brand img {
    width: 2rem;
    padding: 0 0.2rem;
    padding-left: 1.6rem;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg33.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
    margin-bottom: -31px;
}



.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
    margin-top: -33px;
}

#masterplay {
    size: 45px;
}

/* ----------------------------- */

.songItemContainer {
    margin-top: 60px;
}

.songItem {
    height: 40px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem:hover {
    box-shadow: 4px 4px rgb(194, 237, 156);
    background-color: rgb(231, 219, 219);
}

.songItem img {
    width: 31px;
    margin: 0 5px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: -21px;
}

.songInfo img {
    height: 26px;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}


.dropdown {
    float: left;
    overflow: hidden;
    appearance: none;
}

.dropdown .dropbtn {
    border: 1px solid white;
    outline: none;
    color: white;
    padding: 0.2rem 0.2rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 9px;
    font-size: 1.1rem;
    margin-top: -51px;
    font-family: 'Ubuntu', sans-serif;
    font-style: bold;
    background-color: rgb(39, 37, 37);
    border-radius: 8px;
    cursor: pointer;
    margin-right: 0.5rem;
    appearance: none;
}

.dropdown .dropbtn:hover {
    padding: 0.3rem;
    border: 1px solid #fff;
    background-color: rgb(134, 128, 128);
    appearance: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(227, 229, 238);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.5rem;
    margin-top: 1px;
    background-color: rgb(251, 238, 255);
    appearance: none;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 0.3rem 0.11rem;
    text-decoration: none;
    display: block;
    text-align: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    border: 0.11rem solid pink;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .menu{
    position: absolute;
    right: 1rem;
}
 #menu-icon i {
    filter:invert(100%);
    color: #fff;
    font-size: 3.4rem;

} */

.menu {
    position: absolute;
    right: 1rem;
    top: 0.9rem;
    display: none;
}

.menu i {
    font-size: 2rem;
    /* Adjust the size as needed */
    color: white;
    /* Icon color */
}

/* Add this to your CSS */
.hidden {
    display: none;
}

.menu-list {
    width: 100vw;
    height: 40vh;
    /* Allow the height to adjust based on content */
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    /* Add background color for visibility */

}

.menu-list #ho {
    /* border: 0.1rem solid black; Reduce border size for better visibility */
    margin-left: -10rem;
}

.menu-list #ho a {
    padding: 1rem 2rem;
    display: block;
    /* Ensure the anchor takes the full width */
    color: white;
    text-decoration: none;

}




/* ------------------------------------------------------------------------------ */

@media (max-width: 1100px) {
    body {
        background-color: rgb(214, 220, 252);
    }

    /* #ho {
        position: absolute;
        top: 3.7rem;
        left: 0;
        width: 94%;
        padding: 1rem 3%;
        background-color: rgb(255, 156, 173);
        border-top: .2rem solid pink;
        box-sizing: 0 .5rem 1rem pink;
    }
    #ho li a{
        display:block;
    
    } */

    @media (max-width: 1100px) {


        #ho li a {

            padding: 0.2rem 0;
            text-align: left;
        }
    }

}


@media (max-width:1440px) {
    .menu {
        display: none;

    }

    .songItem {
        width: 32vw;
        height: 12vh;
    }

    .songList h1 {
        font-size: 2rem;
    }

    html {
        font-size: 110%;
    }


    .dropdown {
        display: block;
    }

    nav ul {
        background-color: rgb(255, 156, 173);
        height: 5vh;

    }

    .menu {
        right: 1rem;
        top: 0.7rem;
    }

    .menu i {
        font-size: 1.2rem;
        /* Adjust the size as needed */
        color: white;
        /* Icon color */
    }

    .brand {
        /* font-size: 100%; */
        /* margin-left: 2rem; */
    }

    .brand img {
        width: 1.6rem;
        height: 7.6rem;
    }

    body {
        background-image: none;
    }

    .bottom {

        height: 16vh;

    }

    .icons {
        margin-top: 14px;
        margin-bottom: -31px;
    }

    .icons i {
        cursor: pointer;
        font-size: 2rem;
    }

    #myProgressBar {
        width: 70vw;
        cursor: pointer;
        margin-top: -33px;
        height: 0.3rem;
    }

    #masterplay {
        size: 2rem;
    }


    .songInfo {
        left: 16vw;
        font-size: 1rem;
        margin-bottom: -21px;
    }

    .songInfo img {
        height: 1.4rem;
        margin-right: 0.7rem;
    }

    .songInfo img {
        opacity: 0;
        transition: opacity 0.4s ease-in;
    }

    .songItem {
        height: 2rem;
    }

    .songItem img {
        width: 1.6rem;
        margin: 0 5px;
        border-radius: 34px;
    }

    .container {
        height: 80vh;
    }

    #ho1 {
        display: none;
    }
}

@media (max-width:1024px) {
    html {
        font-size: 70%;
    }

    .menu {
        right: 1rem;
        top: 0.8rem;
    }

    .container {
        height: 83vh;
    }

    .dropdown {
        margin-top: 0.11rem;
    }

    nav ul li {
        padding: 0 2rem;
    }



}

@media (max-height:914px) {
    html {
        font-size: 90%;
        height: 100vh;
    }

    .container {
        /* margin-left: 1.11rem; */
        height: 80vh;
        width: 100vw;
        /* margin: 0.2rem 0; */
        margin-top: -0.8rem;
        border-radius: 0;

    }

    nav ul {
        width: 100vw;
        /* margin-right: -2rem; */
        height: 3rem;
        margin-bottom: 1rem;
    }

    .bottom {
        height: 12vh;
        margin-right: -2rem;
        /* margin-bottom: -1rem; */
        width: 100vw;
    }

    #myProgressBar {
        width: 74vw;
        margin-top: -2.6rem;
        height: 0.2rem;
    }

    .songInfo img {

        right: -23rem;

    }

    .songList h1 {
        font-size: 1.7rem;
        margin: 0 auto;
        margin-bottom: -3rem;
        margin-top: 2rem;
    }

    .songList {
        margin-top: -2rem;
    }

    .songItem {
        height: 1.7rem;

    }

    .menu {
        /* right: -0.3rem; */
        top: 0.8rem;
        display: none;
    }

    /* .brand img{
    margin-left: 2rem;
    display: block;
   } */

    .dropdown {
        display: block;
    }

    .icons i {
        padding: 0 1rem;
        font-size: 1.7rem;
    }
}




@media (max-width:770px) {
    .container {
        height: 100vh;
        width: 100vw;
    }

    .songList {
        margin: 0 auto;
        margin-left: -2rem;
    }

    .songItem {
        height: 4vh;
        padding: -0.1rem 0;
        width: 40vw;
    }

    .songItemContainer {
        width: 80vw;
    }

    nav ul {
        height: 6vh;
        font-size: 2.9rem;
    }

    #ho li a,
    .brand {
        font-size: 2rem;
    }



    .songName {
        letter-spacing: 0.1rem;
        word-spacing: 0.3=2rem;
    }

    html {
        font-size: 50%;
    }

    body {
        background-image: none;
    }

    .songList h1 {
        font-size: 1.7rem;
        margin: 0 auto;
        margin-bottom: -5rem;
        margin-top: 1rem;
    }

    .bottom {
        height: 12vh;
        margin-right: -2rem;
        margin-bottom: -10rem;
        width: 100vw;
        margin-top: -8rem;
    }

    .dropdown {
        margin-top: 2.9rem;
    }
}

@media (max-width:426px) {
    html {
        font-size: 40%;
    }

    .container {
        height: 100vh;
        width: 100vw;
        margin: 0 0.2rem;
        margin-left: 0.1rem;
        margin-top: -1rem;
        border-top: 1px solid rgb(57, 41, 79);
    }


    #ho {
        display: none;
    }

    #ho1 {
        /* display: flex; */
        /* display: none; */
        width: 100vw;
        margin-top: 17rem;
        background-color: rgb(255, 156, 173);
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 18vh;
        margin-left: -13.9rem;
        z-index: 1;
    }

    #ho1 li a {
        display: flex;
        font-size: 1.8rem;
        color: #fff;
        list-style: none;
        text-decoration: none;
        /* flex-direction: row; */
        justify-content: center;
        padding: 0.4rem 1.2rem
    }

    .songList h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .songInfo {

        left: 15vw;
        font-size: 1rem;
        margin-top: 1rem;


    }

    .songInfo img {
        position: absolute;
        right: -27rem;
        height: 1.6rem;
        width: 3rem;
        margin-right: -6.3rem;
        margin-top: -0.6rem;
    }

    .bottom {

        height: 13vh;

    }

    .songList {
        margin: 0 auto;
    }

    .songItem {
        width: 80vw;

    }

    .dropdown {
        display: none;
    }

    .icons i {
        font-size: 3rem;
    }

    .menu {
        display: block;
    }

    .menu i {
        font-size: 2rem;
        margin-top: 0.6rem;
    }
}

@media (max-width:376px) {

    html {
        font-size: 50%;
    }

    .container {
        margin: 1rem auto;
        height: 95vh;
        margin-top: -1rem;
        border-top: 2px solid rgb(138, 138, 161);

    }

    nav ul {
        margin-right: -2rem;
        height: 3rem;
        margin-bottom: 1rem;
    }

    .bottom {
        height: 13vh;
        margin-right: -2rem;
    }

    #myProgressBar {
        width: 89vw;
        margin-top: -3.6rem;
        height: 0.2rem;
    }

    .songInfo img {

        right: -19rem;

    }

    .icons i {
        font-size: 2.4rem;
    }

    .songInfo {
        left: 8vw;
        margin-top: -0.4rem;
        font-size: 0.8rem;
        padding: 0 2rem;
    }

    .songList h1 {
        font-size: 1.9rem;
        margin: 0 auto;
        margin-bottom: -3rem;
    }

    .songList {
        margin-top: -2rem;
    }

    .songItem {
        height: 2.6rem;
    }

    .menu {
        /* right: rem; */
        top: 0.8rem;
    }

    #ho1 {
        margin-top: 14rem;
        height: 18vh;
    }

    #ho1 li a {
        /* padding:-0.9rem 0; */
        font-size: 1.5rem;
    }

    .menu i {
        font-size: 2rem;
        margin-top: 0.4rem;
    }
}

@media (max-width:320px) {

    html {
        font-size: 40%;
    }

    .container {
        margin: 1rem auto;
        height: 95vh;
        margin-top: -1rem;
        border-top: 2px solid rgb(138, 138, 161);
    }

    nav ul {
        margin-right: -2rem;
        height: 3rem;
        margin-bottom: 1rem;
    }

    .bottom {
        height: 13vh;
        margin-right: -2rem;
    }

    #myProgressBar {
        width: 89vw;
        margin-top: -3.6rem;
        height: 0.2rem;
    }

    .songInfo img {

        right: -12rem;

    }

    .songInfo {
        left: -0.111vw;
        margin-top: -0.4rem;
        font-size: 0.8rem;
        padding: 0 2rem;
    }

    .songList h1 {
        font-size: 1.7rem;
        margin: 0 auto;
        margin-bottom: -3rem;
    }



    .songList {
        margin-top: -2rem;
        margin-left: -0.3rem;
    }

    .songItem {
        height: 2.6rem;
    }

    .menu i {
        /* right: rem; */
        margin-top: -0.3rem;
    }

    #ho1 {
        margin-top: 14rem;
        height: 18vh;
    }

    #ho1 li a {
        /* padding:-0.9rem 0; */
        font-size: 1.5rem;
    }
}

@media (max-width:290px) {
    html {
        font-size: 40%;
    }

    .songList h1 {
        font-size: 2rem;
        margin: 0 auto;
        margin-bottom: -3rem;
    }

    .songList {
        margin-top: -2rem;
        margin-left: -0.9rem;
    }
}

@media (max-width:413px) and (max-height:914px) {
    html {
        font-size: 75%;
        height: 90vh;
    }

    .container {
        margin: 1rem auto;
        height: 88vh;
        margin-top: -1rem;
        border-top: 2px solid rgb(138, 138, 161);
    }

    nav ul {
        margin-right: -2rem;
        height: 4rem;
        margin-bottom: 1rem;
    }

    .icons {
        margin-top: 3rem;
    }

    .icons i {
        margin: 0 -1rem;
        font-size: 3rem;
    }

    .bottom {
        position: absolute;
        bottom: 3rem;
        height: 13vh;
        margin-right: -2rem;
        /* margin-top: -3rem; */
    }

    #myProgressBar {
        width: 89vw;
        margin-top: -3.6rem;
        height: 0.2rem;
    }

    .songInfo img {

        left: 27rem;
    }

    .songItem {
        height: 3.6rem;
    }

    .songInfo {
        left: -3.111vw;
        margin-top: 0.6rem;
        font-size: 0.9rem;
        padding: 0 2rem;
    }

    .songList h1 {
        font-size: 1.3rem;
        margin: 0 auto;
        margin-bottom: -3rem;
        margin-top: -1rem;
    }

    .songItemContainer {
        margin-top: 5rem;
    }

    .songList {
        margin-top: 2rem;
        /* margin-left: -0.3rem; */
        height: 4rem;
        margin-left: 2.3%;
    }

    .songItem {
        height: 3.6rem;
    }

    .songName {
        font-size: 0.9rem;
    }

    .menu {
        /* right: rem; */
        top: 0.4rem;
    }

    #ho1 {
        display: none;
        margin-top: 18.5rem;
        height: 21vh;
        margin-left: -11.59rem;
    }

    #ho1 li a {
        display: flex;
        font-size: 1.9rem;
        color: #fff;
        list-style: none;
        text-decoration: none;
        /* flex-direction: row; */
        justify-content: center;
        padding: 0.4rem 1.2rem
    }


    .brand {
        margin-left: -2.6rem;
    }

    .songItem img {
        width: 2.8rem;
    }

    body {
        height: 80vh;
    }

}

@media (max-width:913px) and (max-height:413px) {
    html {
        font-size: 60%;
    }

    .container {
        height: 100vh;
        /* overflow: hidden; */
    }

    .bottom {
        /* margin-top: -3rem; */
    }

    .songList h1 {
        margin-top: 0.4rem;
    }

    .songItemContainer {
        margin-top: 4rem;
    }

    .icons {
        margin-top: 1rem;
    }

    .dropdown .dropbtn {
        margin-top: -4.4rem;
        font-size: 0.9rem;
    }

}


@media(max-height:413px) {
    html {
        font-size: 60%;
    }

    .container {
        height: 100vh;
    }

    .bottom {
        /* margin-top: -3rem; */
    }

    .songList h1 {
        margin-top: 0.7rem;
    }

    .songItemContainer {
        margin-top: 4rem;
    }

    .icons {
        margin-top: 1rem;
    }

    .dropdown .dropbtn {
        display: none;
    }

}

@media (max-width:320px) and (max-height:914px) {
    html {
        font-size: 50%;
    }

    .songItem {
        padding: 3rem 0;
    }

    .songItemContainer {
        margin-left: -1rem;
    }

    .songList h1 {
        font-size: 1.7rem;
    }

    .menu {
        margin-top: 1rem;
    }

    #ho1 {
        margin-top: 24.3rem;
        height: 20vh;
        margin-left: -11.4rem;
    }


    #ho1 li a {
        /* padding:-0.9rem 0; */
        font-size: 2.5rem;
        letter-spacing: 0.21rem;
        font-weight: 300;
        padding: 0.7rem 0;
    }
}


/* By Datta kale */