@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: rgb(245, 188, 223);
    background-image: url('b2.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
    z-index: 10;
}

#ho a{
    padding-left: 73px;
    font-size: 21px;
    z-index: 10;
    color:#fff;
    list-style: none;
    text-decoration: none;
}

#ho:hover {
    font-size: 23px;
    font-weight: bolder;
    cursor: pointer;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius: 12px;

    padding: 34px;
    background-image: url('bg33.jpg');
    background-repeat: no-repeat;
    background-position: center;

}



.bottom {
    position: sticky;
    bottom: 0;
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
    margin-bottom: -31px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
    margin-top: -33px;
}

#masterplay {
    size: 45px;
}




/* ----------------------------- */

.songItemContainer {
    margin-top: 60px;
}

.songItem {
    height: 40px;
    display: flex;
    background-color: white;

    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem:hover {
    box-shadow: 4px 4px rgb(194, 237, 156);
    background-color: rgb(231, 219, 219);


}

.songItem img {
    width: 31px;
    margin: 0 5px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: -21px;
}

.songInfo img {
    height: 26px;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
        background-color: red;
    }
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: 1px solid white;
    outline: none;
    color: white;
    padding: 5px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 9px;
    font-size: 20px;
    margin-top: -51px;
    font-family: 'Ubuntu', sans-serif;
    font-style: bold;
    background-color: rgb(39, 37, 37);
    border-radius: 8px;
    cursor: pointer;
    
}

.dropdown .dropbtn:hover{
    padding: 6px 13px;
    border:1px solid #fff;
    background-color: rgb(134, 128, 128);

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(227, 229, 238);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-top: 1px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 23px;
    border: 1px solid gray;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* By Nikhil, Shreeyash, Divesh, Anuj & Datta. */